<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <h1>Node.js Demo - Bảo mật Web Nhóm 9</h1>
    <p><a href="/login">Login</a> | <a href="/register">Register</a> | <a href="/dashboard">Dashboard</a></p>
</body>

</html>