<!DOCTYPE html>
<html>

<head>
    <title>Login Demo</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: green;
        }
    </style>
</head>

<body>
    <h1>✅ Trang Register Demo</h1>
    <p>Bảo mật Web - Nhóm 9</p>
    <p><a href="/">Về trang chủ</a></p>
</body>

</html>